.images_container {
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  padding: 0 12px;
  column-width: 33%;
  width: 95%;
  margin: 0 auto;
}
.images_container .image {
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}
.images_container .image:hover {
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}
@media (max-width: 1100px) {
  .images_container {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 768px) {
  .images_container {
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-width: 50%;
    column-width: 50%;
  }
}
