@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slider {
  width: 100% !important;
  height: 100% !important;
}
.slick-list {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px !important;
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}
.slick-track {
  width: 100%;
  height: 100%;
}
.slick-slide {
  width: 534px !important;
  height: 100% !important;
  -o-object-fit: fill;
  object-fit: fill !important;
}

.slide img {
  width: 100% !important;
  height: 100% !important;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.buttonLeft {
  position: absolute;
  top: 510px;
  left: 850px;
  transform: translate(0, -50%);
  color: #fff;
  z-index: 900;
  cursor: pointer;
}
.buttonLeft_dark {
  position: absolute;
  top: 510px;
  left: 850px;
  transform: translate(0, -50%);
  color: #fff;
  z-index: 900;
  cursor: pointer;
  fill: #fff;
  svg > path {
    stroke: black;
  }
  svg > circle {
    fill: #fff;
  }
}
.buttonRight {
  position: absolute;
  top: 510px;
  left: 930px;
  transform: translate(0, -50%);
  color: #fff;
  z-index: 900;
  font-size: 45px;
  cursor: pointer;
}
.buttonRight_dark {
  position: absolute;
  top: 510px;
  left: 930px;
  transform: translate(0, -50%);
  color: #fff;
  z-index: 900;
  cursor: pointer;
  svg > circle {
    fill: #fff;
  }
  svg > path {
    stroke: black;
  }
}
.slick-active {
  background-color: black !important;
}
.slick-dots {
  position: absolute;
  top: 500px;
  left: 510px;
  width: 300px;
  height: 50px;
}
.slick-dots li {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid black;
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}
.slick-dots li:hover {
  background-color: black !important;
}
.slick-dots button::before {
  content: none !important;
}
