.sliderStyles {
  position: relative;
  height: 100%;
  transition: transform 200ms linear;
}
.rightArrowStyles {
  position: absolute;
  top: 514px;
  left: 930px;
  transform: translate(0, -50%);
  font-size: 45px;
  z-index: 1;
  cursor: pointer;
  &_dark {
    position: absolute;
    top: 511px;
    left: 930px;
    transform: translate(0, -50%);
    color: #fff;
    z-index: 1;
    cursor: pointer;
    svg > circle {
      fill: #fff;
    }
    svg > path {
      stroke: black;
    }
  }
}
.leftArrowStyles {
  position: absolute;
  top: 510px;
  left: 850px;
  transform: translate(0, -50%);
  color: #fff;
  z-index: 1;
  // font-size: 45px;
  cursor: pointer;
  &_dark {
    position: absolute;
    top: 510px;
    left: 850px;
    transform: translate(0, -50%);
    color: #fff;
    z-index: 1;
    cursor: pointer;
    svg > circle {
      fill: #fff;
    }
    svg > path {
      stroke: black;
    }
  }
}

.slidesContainerOverflowStyles {
  overflow: hidden;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.slid {
  display: flex !important;
  align-items: flex-end;
  justify-content: space-around;
  align-content: space-between;
}
.buttons {
  padding: 10px 40px;
  margin-bottom: 15px;
  background-color: black;
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  opacity: 0;
  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: black;
  }
}

.dotsContainerStyles {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500px;
  left: 610px;
  color: black;
}

.dotStyle {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background-color: #fff !important;
  border: 3px solid black;
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  &_active {
    background-color: black !important;
  }
  &:hover {
    background-color: black !important;
  }
}
