*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

.container {
  max-width: 124rem;
  height: 100%;
  margin: 0 auto;
}

.swiper_container {
  height: 100%;
  padding: 2rem 0 0 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -o-object-fit: contain;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  /* margin-top: 15px; */
  position: relative;
  bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222224;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  -webkit-filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  /* margin-top: 20px; */
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}
.swiper-button-prev {
  top: -5px;
}
.swiper-button-next {
  top: -5px;
}
.swiper-pagination {
  color: black;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background-color: #fff !important;
  border: 3px solid black;
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.swiper-pagination-bullet:hover {
  background-color: #fff !important;
  border: 3px solid black;
}
.swiper-pagination-bullet-active {
  background: var(--primary);
}
@media (max-width: 1920px) {
  .swiper_container {
    height: 52rem;
  }
}
@media (max-width: 1600px) {
  .swiper_container {
    height: 47rem;
    padding: 16px 0 0 0;
  }
  .swiper-slide {
    width: 33rem !important;
    height: 38rem !important;
  }
  .swiper-slide img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
