.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;

  &_dark {
    background: #1d1d1d;
  }
}
.leftSide {
  width: 50%;
  height: 100%;
  padding: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 auto;
  &_header {
    color: #1d1d1d;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    display: flex;
    align-items: center;
    &_themeButton {
      margin-left: 30px;
      cursor: pointer;
    }
    &_dark {
      color: #fff;
    }
  }
  &_aName {
    color: #2d2d2d;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &_dark {
      color: #fff;
    }
  }
  &_aboutWrap {
    margin-top: 100px;
    &_title {
      color: #1d1d1d;
      font-family: Montserrat;
      font-size: 6rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      max-width: 470px;

      &_dark {
        color: #fff;
      }
    }
    &_description {
      margin-top: 20px;
      margin-bottom: 30px;
      color: #1d1d1d;
      font-family: Open Sans;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 500px;
      &_dark {
        color: #fff;
      }
    }
  }
}
.rightSide {
  width: 50%;
  height: 100%;
  &_img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 5000px) {
  .homeContainer_imgWrap {
    display: none;
  }
  .leftSide {
    &_aboutWrap {
      &_title {
        overflow: hidden;
        -webkit-animation: typing 5s steps(50, end) forwards;
        animation: typing 5s steps(50, end) forwards;

        width: 0;
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 500px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 500px;
          }
        }
      }
    }
  }
}
@media (max-width: 1900px) {
  html {
    font-size: 16px !important;
  }
  .homeContainer_imgWrap {
    display: none;
  }
}
@media (max-width: 1601px) {
  html {
    font-size: 14px !important;
  }
  .leftSide {
    &_aboutWrap {
      &_title {
        font-size: 5rem;
        max-width: 420px;
      }
      &_description {
        font-size: 1.4rem;
      }
    }
    &_aName {
      font-size: 1rem;
    }
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 13px !important;
  }
  .leftSide {
    width: 45%;
    padding: 30px 0 0 70px;
    &_aboutWrap {
      &_title {
        font-size: 5rem;
        width: 350px;
        overflow: hidden;
        -webkit-animation: typing 5s steps(50, end) forwards;
        animation: typing 5s steps(50, end) forwards;
        width: 0;
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 350px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 350px;
          }
        }
      }
      &_description {
        width: 350px;
        font-size: 1.4rem;
      }
    }
    &_aName {
      font-size: 1rem;
    }
  }
  .rightPart {
    width: 55%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 12px !important;
  }
  .leftSide {
    padding: 30px 0 0 50px;
  }
}
@media (max-width: 856px) {
  html {
    font-size: 12px !important;
  }
  .leftSide {
    padding: 30px 0 0 30px;
    &_aboutWrap {
      margin-top: 150px;
      &_title {
        font-size: 4rem;
        width: 300px;
        overflow: hidden;
        -webkit-animation: typing 5s steps(50, end) forwards;
        animation: typing 5s steps(50, end) forwards;
        width: 0;
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 280px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 280px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px !important;
  }
  .leftSide {
    padding: 30px 0 0 35px;
    &_aboutWrap {
      &_title {
        font-size: 4rem;
        width: 260px;
        overflow: hidden;
        -webkit-animation: typing 5s steps(50, end) forwards;
        animation: typing 5s steps(50, end) forwards;
        width: 0;
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 260px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 260px;
          }
        }
      }
      &_description {
        width: 270px;
      }
    }
  }
}
@media (max-width: 680px) {
  html {
    font-size: 14px !important;
  }
  .homeContainer {
    position: relative;
    &_imgWrap {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute !important;
      z-index: 1;
      -webkit-filter: brightness(40%);
      filter: brightness(55%);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .leftSide {
    z-index: 3;
    padding: 30px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    &_header {
      color: #fff;
      margin-right: auto !important;
      &_themeButton {
        display: none;
      }
    }
    &_aboutWrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      max-width: 400px;
      &_title {
        color: #fff;
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 350px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 350px;
          }
        }
      }
      &_description {
        color: #fff;
      }
    }
    &_aName {
      color: #d1d1d1;
      display: none;
    }
  }
  .rightSide {
    display: none;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 12px !important;
  }
  .leftSide {
    padding: 30px 25px;
    &_aboutWrap {
      text-align: center;
    }
  }
}
@media (max-width: 375px) {
  html {
    font-size: 11px !important;
  }
  .leftSide {
    padding: 30px 20px;
    &_aboutWrap {
      text-align: center;
      max-width: 320px;
    }
  }
}
@media (max-width: 321px) {
  html {
    font-size: 9px !important;
  }
  .leftSide {
    padding: 30px 10px;
    &_aboutWrap {
      text-align: center;
      max-width: 250px;
      &_description {
        width: 250px;
      }
      &_title {
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 280px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 280px;
          }
        }
      }
    }
  }
}
