.home {
  width: 100%;
  height: 100vh;
  display: flex;
  &_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  &_dark {
    background-color: #1d1d1d;
  }
}
.leftPart {
  width: 55%;
  height: 100%;
  padding: 25px 0 0 100px;
  &_header {
    display: flex;
    height: 20%;
    // color: #1d1d1d;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
    &_dark {
      color: #fff;
    }
    &_themeButton {
      margin-left: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &_title {
    margin-top: 110px;
    width: 470px;
    color: #1d1d1d;
    font-family: Montserrat;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    &_dark {
      color: #fff;
    }
  }
  &_description {
    margin-top: 20px;
    width: 485px;
    color: #1d1d1d;
    font-family: Open Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &_dark {
      color: #fff;
    }
  }
  &_buttonGroup {
    display: flex;
    align-items: center;
    margin-top: 35px;

    &_aboutMe {
      text-decoration: none;
      color: #f2f2f2;
      background: #1d1d1d;
      font-family: Montserrat;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 12px 24px;
      border-radius: 5px;
      &_dark {
        color: #1d1d1d;
        background: #f2f2f2;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &_gallery {
      text-decoration: none;
      color: #1d1d1d;
      background: #d1d1d1;
      font-family: Montserrat;
      color: #1d1d1d;
      font-family: Montserrat;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 12px 24px;
      border-radius: 5px;
      margin-left: 40px;
      &_dark {
        color: #f2f2f2;
        background: #2d2d2d;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &_aName {
    margin-top: 200px;
    color: #1d1d1d;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &_dark {
      color: #d1d1d1;
    }
  }
}
.rightPart {
  width: 50%;
  &_img {
    width: 100%;
    height: 100%;
  }
}
// .home {
//   width: 100%;
//   padding: 110px 100px 0 100px;
//   display: flex;
//   align-items: center;
//   &_wrap {
//     width: 100%;
//     height: 500px;
//     border-radius: 90px;
//     padding: 20px 50px 20px 0;
//     background: rgba(13, 12, 12, 0.71);
//     display: flex;
//     align-items: center;
//   }
// }
// .leftPart {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 40%;
//   &_img {
//     width: 400px;
//     height: 400px;
//   }
// }
// .rightPart {
//   width: 60%;
//   // vertical-align: middle;
//   height: 430px;
//   overflow-y: scroll;
//   // margin: auto;
//   &_text {
//     color: #fff;
//     text-align: justify;
//     font-family: ABeeZee;
//     font-size: 2.3rem;
//     font-weight: 400;
//     margin-right: 5px;
//   }
// }
// .rightPart::-webkit-scrollbar {
//   width: 5px;
// }

// .rightPart::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: black;
// }

// .rightPart::-webkit-scrollbar-track {
//   // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
//   border-radius: 10px;
// }
