.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &_header {
    height: 100px;
  }
  &_main {
    height: 100%;
    &_dark {
      background-color: #1d1d1d;
    }
  }

  &_footer {
    height: 80px;
  }
}
