.contact {
  width: 100%;
  height: 100%;
  &_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 75px;
  }
  &_title {
    margin-top: 80px;
    color: #1d1d1d;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &_dark {
      color: #ffff;
    }
  }
  &_form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &_dark {
    background: #1d1d1d;
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  padding: 35px;
  border: 1px solid #aeaeae;
  border-radius: 15px;
  width: 760px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &_inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    &_nameInput {
      width: 100%;
    }
    &_emailInput {
      width: 100%;
    }
    &_messageInput {
      width: 100%;
      height: 100px;
    }
  }
  &_button {
    color: #f2f2f2;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 40px;
    border-radius: 20px;
    background: #1d1d1d;
    text-transform: uppercase;
    text-align: center !important;
    margin-top: 10px;
    cursor: pointer;
    &_dark {
      color: black;
      background-color: #fff;
    }
  }
  &_dark {
    background-color: #1d1d1d;
  }
}

.error_Dark {
  color: #fff;
}
@media (max-width: 2560px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 856px) {
  .contact_form {
    width: 87%;
  }
  .formContainer {
    width: 100%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 450px) {
  .formContainer {
    padding: 20px;
    // width: 100%;
  }
}
@media (max-width: 375px) {
}
@media (max-width: 321px) {
  .formContainer {
    &_button {
      padding: 10px;
      font-size: 1.3rem;
    }
  }
}
