.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px 110px 30px 110px;
  &_dark {
    background: #1d1d1d;
  }
  &_logo {
    display: flex;
    align-items: center;
    width: 100%;
    &_text {
      text-decoration: none;
      cursor: pointer;
      color: #1d1d1d;
      font-family: Montserrat;
      font-size: 2.8rem;
      font-style: italic;
      font-weight: 800;
      line-height: normal;
      background: linear-gradient(
        90deg,
        #e933ff,
        #ffb400,
        #ff3333,
        #334dff,
        #e933ff
      );
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: textflow 5s linear infinite;
      animation: textflow 5s linear infinite;
      @-webkit-keyframes textflow {
        from {
          background-position: 0% center;
        }
        to {
          background-position: 200% center;
        }
      }
      @keyframes textflow {
        from {
          background-position: 0% center;
        }
        to {
          background-position: 200% center;
        }
      }
    }
    &_dark {
      color: #fff;
    }
    &_themeButton {
      display: flex;
      align-items: center;
      margin-left: 30px;
      width: 28px;
      height: 28px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.headerLink {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin-left: auto !important;
  &_contact {
    margin-left: 10px;
  }

  &_about {
    margin-left: 10px;
    width: 150px;
  }
  &_gallery {
    margin-left: 10px;
  }
  &_burgerButton {
    rect {
      fill: #1d1d1d;
    }
    &_dark {
      rect {
        fill: #fff;
      }
    }
  }
  &_navLink {
    color: #1d1d1d;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    &_dark {
      color: #fff !important;
      &:hover {
        background: #fff !important;
        color: #1d1d1d !important;
        width: 100% !important;
        transition: 0.5s;
      }
    }
    &:hover {
      color: #fff;
      background: #1d1d1d;
      width: 100%;
      transition: 0.5s;
    }
  }
}
.activeLink {
  background: #1d1d1d;
  color: #fff;
}
.activeLink_dark {
  background: #fff;
  color: #1d1d1d !important;
}
.headerLink_burger {
  position: relative;
  // padding: 12px 13px;
  margin-top: 5px;
  text-decoration: none;
  color: rgba(96, 123, 150, 1);
  margin-left: auto;
}

@media (max-width: 5000px) {
  .headerLink_burger {
    display: none;
  }
}
@media (max-width: 1920px) {
}
@media (max-width: 1600px) {
  .headerLink_about {
    width: 130px;
  }
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 994px) {
  .header {
    padding: 20px 40px 30px 40px;
  }
  .header_logo_themeButton {
    display: none;
  }
  .headerLink {
    &_gallery,
    &_contact,
    &_home,
    &_about {
      display: none;
    }
    &_burger {
      display: block;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  .headerLink_burgerButton {
    svg {
      width: 38px;
      height: 38px;
    }
  }
}
@media (max-width: 576px) {
  .headerLink_burgerButton {
    svg {
      width: 35px;
      height: 35px;
    }
  }
}
@media (max-width: 480px) {
}
@media (max-width: 375px) {
}
@media (max-width: 321px) {
  .headerLink_burgerButton {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
