.footer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-start;
  padding: 60px 0px 30px 0px;
  &_dark {
    background-color: #1d1d1d;
  }
  &_links {
    padding: 0;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    border: none;
    display: flex;
    align-items: center;
    color: #1d1d1d;
    position: relative;
    list-style-type: none;
    &_link {
      font-family: Open Sans;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      position: relative;
      text-decoration: none;
      cursor: pointer;
      margin: 0 40px 0px 40px;
      color: black;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 0;
        height: 3px;
        background-color: #1d1d1d;
      }
      &:hover:before {
        width: 100%;
      }
      &::before {
        transition: width 0.25s;
      }
    }
  }
}
.footer_links_dark {
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 3px;
    background-color: #fff;
  }
}
@media (max-width: 5000px) {
  .footer_links_icon {
    display: none;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 30px 0px 30px 0px;
  }
  .footer_links_link {
    display: none;
  }
  .footer_links_icon {
    display: block;
    margin: 0px 15px 0px 15px;
    svg > path {
      fill: #1d1d1d;
      stroke: #fff;
    }
  }
}
@media (max-width: 576px) {
  .footer_links_icon {
    display: block;
    margin: 0px 10px 0px 10px;
    svg > path {
      fill: #1d1d1d;
      stroke: #fff;
    }
  }
}
