.aboutWrap {
  &_dark {
    background-color: #1d1d1d;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 200px;
  &_title {
    color: #1d1d1d;
    font-family: Montserrat;
    font-size: 2.7rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    &_dark {
      color: white;
    }
  }
  &_topSection {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_photoWrap {
      width: 45%;
      height: 500px;
      &_photo {
        border-radius: 100px;
        width: 100%;
        height: 100%;
        -o-object-fit: fill;
        object-fit: fill;
      }
    }
    &_text {
      margin-left: 70px;
      width: 55%;
      height: 100%;
      font-size: 2rem;
      text-align: justify;
      &_dark {
        color: white;
      }
    }
  }
  &_bottomSection {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 40px;
    display: flex;
    align-items: center;
    &_text {
      margin-right: 100px;
      width: 50%;
      height: 100%;
      font-size: 2rem;
      text-align: justify;
      &_dark {
        color: white;
      }
    }
    &_photoWrap {
      width: 45%;
      height: 500px;
      &_photo {
        border-radius: 100px;
        width: 100%;
        height: 100%;
        -o-object-fit: fill;
        object-fit: fill;
      }
    }
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
  .aboutWrap {
    &_topSection {
      &_text {
        margin-left: 50px;
      }
    }
    &_bottomSection {
      &_text {
        margin-right: 50px;
      }
    }
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 13px;
  }
  .aboutWrap {
    padding: 60px 100px 0px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .aboutWrap {
    padding: 40px 13% 0px;
    &_title {
      margin-bottom: 15px;
    }
    &_topSection {
      flex-direction: column;
      width: 100%;
      &_text {
        margin: 0;
        width: 100%;
        margin-top: 20px;
      }
      &_photoWrap {
        width: 60%;
      }
    }
    &_bottomSection {
      flex-direction: column-reverse;
      width: 100%;
      &_text {
        margin: 0;
        width: 100%;
        margin-top: 20px;
      }
      &_photoWrap {
        margin-top: 20px;
        width: 60%;
      }
    }
  }
}
@media (max-width: 856px) {
  html {
    font-size: 14px;
  }
  .aboutWrap {
    padding: 30px 70px 0px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .aboutWrap {
    padding: 25px 50px 0px;
    &_topSection {
      &_photoWrap {
        width: 65%;
      }
    }
    &_bottomSection {
      &_photoWrap {
        width: 65%;
      }
    }
  }
}
@media (max-width: 576px) {
  .aboutWrap {
    padding: 25px 30px 0px;
    &_topSection {
      &_photoWrap {
        width: 75%;
        height: 400px;
      }
      &_text {
        height: 210px;
        overflow: scroll;
        overflow-x: hidden;
      }
    }
    &_bottomSection {
      &_photoWrap {
        width: 75%;
        height: 400px;
      }
      &_text {
        height: 210px;
        overflow: scroll;
        overflow-x: hidden;
      }
    }
  }
}
@media (max-width: 500px) {
  .aboutWrap {
    padding: 20px 30px;
    &_topSection {
      &_photoWrap {
        width: 95%;
        height: 400px;
      }
      &_text {
        height: 170px;
        overflow: scroll;
      }
    }
    &_bottomSection {
      &_photoWrap {
        width: 95%;
        height: 400px;
      }
      &_text {
        height: 170px;
        overflow: scroll;
      }
    }
  }
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
  .aboutWrap {
    padding: 20px 30px;
    &_topSection {
      &_photoWrap {
        height: 380px;
      }
    }
    &_bottomSection {
      &_photoWrap {
        height: 380px;
      }
    }
  }
}
@media (max-width: 375px) {
  html {
    font-size: 11px;
  }
  .aboutWrap {
    padding: 20px 30px;
    &_topSection {
      &_photoWrap {
        height: 330px;
      }
      &_text {
        height: 160px;
        overflow: scroll;
      }
    }
    &_bottomSection {
      &_photoWrap {
        height: 330px;
      }
      &_text {
        height: 160px;
        overflow: scroll;
      }
    }
  }
}
@media (max-width: 321px) {
  .aboutWrap {
    padding: 15px 20px;
    &_topSection {
      &_photoWrap {
        height: 315px;
      }
    }
    &_bottomSection {
      &_photoWrap {
        height: 315px;
      }
    }
  }
}
